<form>
    <div class="container">
        <h1> News Publication Application</h1> 
        <hr>
        <label> AUTHOR NAME </label>
        <input type="text" name="firstname" placeholder= "Name of Author" size="15" required />
        <hr>
        <label> DATE </label>
        <input type="date" name="middlename" placeholder="Middlename" size="15" required />
        <hr>
        <label> NEWS TITLE </label>
        <input type="text" name="lastname" placeholder="TITLE" size="15"required />
        <hr>
  
        <label>NEWS BODY</label>
        <textarea cols="80" rows="5" placeholder="ENTER THE NEWS" value="address" required>
        </textarea>
        <hr>
        <label for="email"><b>STATUS</b></label>
  
        <input type="text" placeholder="ENTER STATUS" name="email" required>
        <div class="wrapper">
            <button class="button button1">SUBMIT</button>
        </div>
        </div>
  </form>